.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid;
    flex-wrap: wrap;
}
@media (max-width:770px) {
.container{
    justify-content: center;
}
}