.skillBlock{
    min-height: 100vh;
    background: rgba(150,196,119,0.67);
}
.skillsContainer{
    justify-content: flex-start;
    flex-direction: column;
}
.title{
    background: lightsteelblue;
}
.skills{
    width: 100%;
    border:1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width:940px) {
    .skills{
        justify-content: space-around;
    }
}
@media (max-width:770px) {
.skills{
    justify-content: center;
}
}