.footerBlock{
    display: flex;
    height: 80px;
    background: darkslategray;
    justify-content: center;
    align-items: center;
}
.footerItems{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: darkgrey;
}
.item {
    width: 50px;
    height: 60px;
    background: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

}